.leaflet-container {
  height: 100vh;
  width: 100%;
}

.wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.resBar {
  height: 100vh;
  width: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 10vw;
  max-width: 70vw;
}

.resizer {
  position: absolute;
  background: black;
  cursor: col-resize;
  right: 0;
  top: 0;
  width: 10px;
  z-index: 1;
  height: 100vh;
}